<a href="https://colab.research.google.com/github/srividya-123/Python-Assignment-3/blob/master/Python_Assignment_3(19K41A04G8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#QUESTION 1
a=float(input("Enter the first side:")) 
b=float(input("Enter the second side:")) 
c=float(input("Enter the third side:"))
S=(a+b+c)/2
area =(S*(S-a)*(S-b)*(S-c))**0.5
print(area)

Enter the first side:9
Enter the second side:9
Enter the third side:9
35.074028853269766

In [ ]:
#QUESTION 2
string=input("Enter the string taken from end user:") 
if(string==string[::-1]):
   print("{} is a Palindrome".format(string)) 
else:
   print("{} is not Palindrome".format(string))

Enter the string taken from end user:dad
dad is a Palindrome

In [ ]:
#QUESTION 3
year=int(input("Enter the year:")) 
if year%400==0:
   print("{} is a leap year".format(year)) 
elif year%100==0:
   print("{} is not a leap year".format(year)) 
elif year%4==0:
   print("{} is a leap year".format(year)) 
else:
   print("{} is not a leap year".format(year))

Enter the year:2020
2020 is a leap year

In [ ]:
#QUESTION 4:
new_str=input("Enter the string:")
str=new_str.replace(" ", "-") 
print(str)

Enter the string:This program converts spaces into hyphens
This-program-converts-spaces-into-hyphens

In [ ]:
#QUESTION 5:
def rearrange(str): 
    str_list=str.split(',')
    str_set=set(str_list)
    str_list=list(str_set)
    str_list.sort() 
    str=','.join(str_list) 
    return str
str=input("Enter the string:") 
print(rearrange(str))

Enter the string:orenge,white,red,cyan,green,magenta,cyan,pink,white
cyan,green,magenta,orenge,pink,red,white

In [ ]:
#QUESTION 6:
salary=int(input("Enter the salary:")) 
if salary<=250000:
   print("tax is zero") 
elif salary<=500000:
   print("tax to be paid:",salary*0.05)
elif salary<=750000:
   print("tax to be paid:",salary*0.10)
elif salary<=1000000:
   print("tax to be paid:",salary*0.15)
elif salary<=1250000:
   print("tax to be paid:",salary*0.20)
elif salary<=1500000:
   print("tax to be paid:",salary*0.25)
else:
   print("tax to be paid:",salary*0.30)

Enter the salary:1500000
tax to be paid: 375000.0

In [ ]:
#QUESTION 7:
list = [11,33,50] 
for n in list :
      print(n,end="")

113350

In [ ]:
#QUESTION 8:
D=int(input("Enter no of days:"))
d=D*24*60*60
H=int(input("Enter no of hours:")) 
h=H*60*60
M=int(input("Enter no of minutes:")) 
m=M*60
s=int(input("Enter no of seconds:")) 
Total_sec=d+h+m+s
print("Total no of seconds:", Total_sec)

Enter no of days:3
Enter no of hours:3
Enter no of minutes:3
Enter no of seconds:9
Total no of seconds: 270189

In [ ]:
#QUESTION 9:
A=int(input("Enter the first number:")) 
B=int(input("Enter the second number:")) 
C=int(input("Enter the third number:")) 
N=[A,B,C] 
H=max(N) 
L=min(N) 
list=N[0]+N[1]+N[2]-H-L
print(H,list,L)

Enter the first number:5
Enter the second number:9
Enter the third number:3
9 5 3

In [ ]:
#QUESTION 10:
year=int(input("Enter the year :")) 
month=int(input("Enter the month:")) 
date=int(input("Enter the date:")) 
if year%4==0:
   Leap_year=True
else:
   Leap_year=False
if month==2:
   if Leap_year:
      m_days==29
   else:
      m_days==28
elif month in (1,3,5,7,8,10,12):
     m_days=31
else:
     m_days=30
if date<m_days:
   date=date+1
else:
   date=1
print(f"[YYY-MM-DD]:{year}-{month}-{date}")

Enter the year :2020
Enter the month:9
Enter the date:16
[YYY-MM-DD]:2020-9-16

In [ ]:
#QUESTION 11:
list=[45,3,2,89,72,1,10,7] 
def prod(list):
    p=1
    for n in list:
       p*=n
    return p
print(prod(list))

121111200

In [ ]:
#QUESTION 12:
def Num_list(a,b,c,d,e,f):
    return a+b,b+c,c+d,d+e,e+f
Num_list(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [ ]:
#QUESTION 13:
def Num_list(a,b,c,d,e,f):
    return a,a*b,a*b*c,a*b*c*d,a*b*c*d*e,a*b*c*d*e*f
Num_list(5,6,8,3,9,1)

(5, 30, 240, 720, 6480, 6480)

In [ ]:
#QUESTION 14:
n=int(input("Enter the number"))
returnlist=[] 
m=0
while n>0:
      x=n%10
      n=int(n/10)
      m=m*10+x
while m>0:
      x=m%10
      m=int(m/10)
      returnlist.append(x)
print(returnlist)

Enter the number586392
[5, 8, 6, 3, 9, 2]

In [ ]:
#QUESTION 15:
str=input("Enter a palindrome:")
def sub(str):
  pal1=1 
  pal2=0
  for n in range(0,len(str)):
    for m in range(n+1,len(str)):
        if str[n:m]==str[m:n:-1]:
           if len(str[n:m])>pal1:
              pal1=len(str[n:m]) 
              palstr=(str[n:m+1]) 
              pal2=1
  if pal2:
    return palstr
  else:
    return "No string palindrome"
print(sub(str))

Enter a palindrome:Madam
ada

In [ ]:
#QUESTION 16:
A=input("Enter the binary no of length 5:")
B=input("Enter the binary no of length 10:")
if A[:] in B[:] :
   print(1)
else:
   print(0)

Enter the binary no of length 5:10110
Enter the binary no of length 10:1010110010
1